<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.conectaeducaodigital.com">
                        Conecta Educação Digital
                    </a>
                </li>
                <li>
                    <a href="https://conectadigitalsolutions.com/desenvolvedor/about-us.html">
                        Sobre Nós
                    </a>
                </li>
                <li>
                    <a href="https://conectadigitalsolutions.com">
                        Consultoria - Desenvolvimento de Sistemas
                    </a>
                </li>
                <li>
                    <a href="https://conectadigitalsolutions.com/desenvolvedor/about-us.html">
                        Política de Privacidade
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, Com carinho, para todos alunos
            <a href="https://conectadigitalsolutions.com" target="_blank">Conecta Digital</a> melhorando vidas através da educação!
        </div>
    </div>
</footer>
