<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Login</h4>
                        <p class="card-category">Digite os dados e acesse o Sistema de Nutrição</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-3">
                                      <input matInput placeholder="login">
                                </div>
                                <div class="col-md-4">
                                      <input matInput placeholder="senha" type="password">
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-info pull-right">Login</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="javascript:void(0)">
                            <img class="img" src="./assets/img/conecta_digital_dev_logo.png" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h6 class="card-category text-gray">Sistema Web</h6>
                        <h4 class="card-title">Sistema Nutrição</h4>
                        <p class="card-description">
                            Gestão de Nutrição para melhorar desempenho físico-ergonômico.
                        </p>
                        <a href="javascript:void(0)" class="btn btn-info btn-round">Linkedin</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  