<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
  
            </div>
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-info">
                        <h4 class="card-title mt-0"> Tabela com bakcground</h4>
                        <p class="card-category"> Lista dos Pacientes</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Country
                                    </th>
                                    <th>
                                        City
                                    </th>
                                    <th>
                                        Salary
                                    </th>
                                </thead>
                                <tbody>
                                  <tr>
                                      <td>
                                          1
                                      </td>
                                      <td>
                                          Paciente Primeiro
                                      </td>
                                      <td>
                                          Brasil
                                      </td>
                                      <td>
                                          São Vicente
                                      </td>
                                      <td class="text-primary">
                                          r$96,738
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          2
                                      </td>
                                      <td>
                                        Paciente Segundo
                                      </td>
                                      <td>
                                          Japão
                                      </td>
                                      <td>
                                          Tokyo
                                      </td>
                                      <td class="text-primary">
                                          r$93,789
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          3
                                      </td>
                                      <td>
                                          John Enderson
                                      </td>
                                      <td>
                                          Nova Zelândia
                                      </td>
                                      <td>
                                          Baileux
                                      </td>
                                      <td class="text-primary">
                                          r$86,142
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          4
                                      </td>
                                      <td>
                                        Paciente Quarto
                                      </td>
                                      <td>
                                          Korea
                                      </td>
                                      <td>
                                          Overland Park
                                      </td>
                                      <td class="text-primary">
                                          r$108.735
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          5
                                      </td>
                                      <td>
                                          John Jobs
                                      </td>
                                      <td>
                                          Malawi
                                      </td>
                                      <td>
                                          Feldkirchen
                                      </td>
                                      <td class="text-primary">
                                          $83,542
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          6
                                      </td>
                                      <td>
                                          Ju Porter
                                      </td>
                                      <td>
                                          Chile
                                      </td>
                                      <td>
                                          Santiago
                                      </td>
                                      <td class="text-primary">
                                          r$98.615
                                      </td>
                                  </tr>
                              </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  